 <nav>
    <input type="checkbox" class="checkbox" id="checkNav" />
    <div class="navbar-header">
        <img class="logo-image" src="images/NYC_311_logo.png" alt="Logo" />
    </div>
    <label for="checkNav" class="checkbtn">
        <svg width="40"
                height="40"
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 448 512">
            <path fill="currentColor"
                    d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
        </svg>
    </label>
    <ul>
        <li><a href=""><i class="bi bi-house-door-fill nav-icon"></i>@Resources.title_home</a></li>
        <li><a href="requests"><i class="bi bi-database-fill-down nav-icon"></i>@Resources.title_requests</a></li>
        <li><a href="requestsbyborough"><i class="bi bi-geo-alt-fill nav-icon"></i>@Resources.title_borough</a></li>
        <li><a href="requestsbyzip"><i class="bi bi-mailbox2-flag nav-icon"></i>@Resources.title_zip_code</a></li>
        <li><a href="requestsbyprecinct"><i class="bi bi-shield-fill nav-icon"></i>@Resources.title_precinct</a></li>
@*         <li class="dropdown">
            <a href="#">Dropdown menu</a>
            <div>
                <a href="#">Item 1</a>
            </div>
        </li> *@
        <li>
            <a href="requestsreport">
                <i class="bi bi-file-earmark-richtext-fill nav-icon"></i>@Resources.title_report
            </a>
        </li>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
