@inject ILayoutService LayoutService
@implements IDisposable;
@page "/"
@using NYC311Dashboard.Services.Contracts

<PageTitle>Home</PageTitle>


@* <div class="home-page-container">
    <div class="home-page-title">Welcome to the NYC 311 Dashboard!</div>
    <img class="nyc-home-image" src="images/nyc_background.png" alt="New York City" />
</div> *@
<div class="home-page-container">
    <img class="nyc-home-image" src="images/nyc_background.png" alt="New York City" />
    <div class="home-page-hero-text">
        <div class="home-page-eyebrow">@Resources.title_home_page_eyebrow</div>
        <div class="home-page-title">@Resources.title_home_page</div>
    </div>
</div>
<div class="home-page-content">
    <p class="home-page-intro">
		@Resources.home_page_intro
    </p>
    <div class="home-page-cards">
        <div class="home-page-card">
            <i class="bi bi-geo-alt-fill"></i>
            <span>@Resources.title_borough</span>
        </div>
        <div class="home-page-card">
            <i class="bi bi-mailbox2-flag"></i>
            <span>@Resources.title_zip_code</span>
        </div>
        <div class="home-page-card">
            <i class="bi bi-shield-fill"></i>
            <span>@Resources.title_precinct</span>
        </div>
    </div>
    <a href="requests" class="pageview-btn">@Resources.home_page_explore_data</a>
</div>

@code {

    protected override void OnInitialized()
    {
        LayoutService.SetTitle(Resources.title_nyc_dashboard);
    }
    protected override async Task OnInitializedAsync()
    {
        LayoutService.SetSidebar(null);
        //await LayoutService.ToggleClassName("article", "content");
    }

    public void Dispose()
    {
        //LayoutService.ToggleClassName("article", "content");
    }
}