@inject IRequestService RequestService
@inject IChartService ChartService
@inject IPdfService PdfService
@inject ILayoutService LayoutService

@page "/requestsreport"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components   
@using NYC311Dashboard.Constants
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models
@using System.Linq.Expressions

<PageTitle>@Resources.title_report</PageTitle>

@if (ShowBoroughChart || ShowZipChart || ShowPrecinctChart)
{
    <div>
        @LayoutService.RenderButton(
        Resources.messaging_service_title_download,
        "pageview-btn",
        Resources.messaging_service_save_pdf,
        SaveAsPdf)
    </div>
    <div class="pdf-page-area">
        <div id="pdf-content" class="pdf-print-area">
            <h2>
                <span class="header-suptitle">@Resources.title_download</span>
                <span class="header-main">@Resources.title_report</span>
            </h2>
            <p class="report-list-title">@string.Format(Resources.report_boroughs_list_title, string.Join(", ", selectedBoroughs)).</p>

            @if (ShowBoroughChart)
            {
                <h3>@Resources.title_borough_requests_table</h3>

                <div class="report-container">
                    <div id="@SharedJsConstants.BoroughChartId" class="apex-chart-container"></div>
                    <div class="table-flex-container">
                        <SortableTable Items="requestsByBoroughDate" Options=@boroughDateOptions />
                    </div>
                </div>

                @if (ShowZipChart)
                {
                    <h3>@Resources.title_zip_requests_table</h3>
                    <div class="report-container">
                        <div id="@SharedJsConstants.ZipChartId" class="apex-chart-container"></div>

                        <div class="table-flex-container">
                            <SortableTable Items="requestsByZipHour" Options=@zipHourOptions />
                        </div>
                    </div>
                }

                @if (ShowPrecinctChart)
                {
                    <h3>@Resources.title_precinct_requests_table</h3>

                    <div class="report-container">
                        <div id="@SharedJsConstants.PrecinctChartId" class="chart-flex-container">
                            @foreach (var borough in selectedBoroughs)
                            {
                                <div id="@(string.Join("-", SharedJsConstants.PrecinctChartId, borough.ToKebabCase()))" class="chart-flex-item"></div>
                            }
                        </div>

                        <div class="table-flex-container">
                            <SortableTable Items="requestsByPrecinct" Options=@precinctOptions />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private List<BoroughDateTableRow> requestsByBoroughDate = new List<BoroughDateTableRow>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<PrecinctTableRow> requestsByPrecinct = new List<PrecinctTableRow>();
    private HashSet<string>? selectedBoroughs = new();
    private HashSet<string>? selectedZipCodes = new();
    private HashSet<string>? selectedPrecincts = new();

    private bool boroughChartNeedsRefresh = false;
    private bool zipChartNeedsRefresh = false;
    private bool precinctChartNeedsRefresh = false;

    private bool ShowBoroughChart => requestsByBoroughDate?.Count > 0 && selectedBoroughs?.Count > 0;
    private bool ShowZipChart => requestsByZipHour?.Count > 0 && selectedZipCodes?.Count > 0;
    private bool ShowPrecinctChart => requestsByPrecinct?.Count > 0 && selectedPrecincts?.Count > 0;

    private TableOptions<BoroughDateTableRow>? boroughDateOptions;
    private TableOptions<ZipHourTableRow>? zipHourOptions;
    private TableOptions<PrecinctTableRow>? precinctOptions;

    protected override void OnInitialized()
    {
        LayoutService.SetTitle(Resources.report_page_title, Resources.title_requests);
        boroughDateOptions = RequestService.GetTableOptions<BoroughDateTableRow>(r => r.Borough);
        zipHourOptions = RequestService.GetTableOptions<ZipHourTableRow>(r => r.Borough);
        precinctOptions = RequestService.GetTableOptions<PrecinctTableRow>(r => r.Borough);
    }

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveButton(Resources.data_none_available, Resources.refresh_data_boroughs_list)
        );
            return;
        }

        await RefreshRequests();
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;
        selectedPrecincts = RequestService.SelectedPrecincts;

        // if (!boroughChartOptions.HasData)
        // {
        //     boroughChartOptions = GetBoroughChartOptions(height: "380");
        // }

        // if (!zipChartOptions.HasData)
        // {
        //     zipChartOptions = GetZipChartOptions(height: "380");
        // }

        LayoutService.SetSidebar(
            LayoutService.RenderButton(
                Resources.messaging_service_title_download,
                "sidebar-btn",
                Resources.messaging_service_save_pdf,
                SaveAsPdf)
        );

        boroughChartNeedsRefresh = ShowBoroughChart;
        zipChartNeedsRefresh = ShowZipChart;
        precinctChartNeedsRefresh = ShowPrecinctChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (boroughChartNeedsRefresh)
        {
            boroughChartNeedsRefresh = false;
            await ChartService.RenderBarChart($"#{SharedJsConstants.BoroughChartId}");  // only one error displays; consider errorList
        }

        if (zipChartNeedsRefresh)
        {
            zipChartNeedsRefresh = false;
            await ChartService.RenderLineChart($"#{SharedJsConstants.ZipChartId}");
        }

        Console.WriteLine($"precinctChartNeedsRefresh: {precinctChartNeedsRefresh}");
        if (precinctChartNeedsRefresh)
        {
            precinctChartNeedsRefresh = false;
            await ChartService.RenderPrecinctChart($"#{SharedJsConstants.PrecinctChartId}");
        }
    }   

    protected Task RefreshRequests()
    {
        var resultBorough = RequestService.GenerateTableByBoroughDay();
        if (resultBorough.IsSuccess)
        {
            requestsByBoroughDate = RequestService.RequestsByBoroughDate;

        }
        var resultZip = RequestService.GenerateTableByZipHour();
        if (resultZip.IsSuccess)
        {
            requestsByZipHour = RequestService.RequestsByZipHour;
        }
        var resultPrecinct = RequestService.GenerateTableByPrecinct();
        Console.WriteLine($"resultPrecinct.IsSuccess: {resultPrecinct.IsSuccess}");
        if (resultPrecinct.IsSuccess)
        {
            requestsByPrecinct = RequestService.RequestsByPrecinct;
        }

        // if (resultBorough.IsFailure || resultZip.IsFailure) // should this access messagingService? Decide when consolidating errors
        // {
        //     _messagingService
        // }
        return Task.CompletedTask;
    }

    private async Task SaveAsPdf()
    {
        var options = PdfService.GetPdfOptions();
        await PdfService.RenderPdfDownload("pdf-content", options);
    }
}