@inject IRequestService RequestService
@inject IChartService ChartService
@inject IPdfService PdfService
@inject ILayoutService LayoutService
@implements IDisposable

@page "/requestsreport"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components   
@using NYC311Dashboard.Constants
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models
@using System.Linq.Expressions

@if (ShowBoroughChart || ShowZipChart)
{
    <div>
        @LayoutService.RenderSidebarButton(
        Resources.messaging_service_title_download,
        "pageview-btn",
        Resources.messaging_service_save_pdf,
        SaveAsPdf)
    </div>
    <div class="pdf-page-area">
        <div id="pdf-content" class="pdf-print-area">

            <h2>
                <span class="header-suptitle">@Resources.title_download</span>
                <span class="header-main">@Resources.title_report</span>
            </h2>
            <p class="report-list-title">@string.Format(Resources.report_boroughs_list_title, string.Join(", ", selectedBoroughs)).</p>

            @if (ShowBoroughChart)
            {
                <h3>@Resources.report_boroughs_charts_title</h3>
                <div id="@SharedJsConstants.BoroughChartId" class="apex-chart-flex-container"></div>

                @if (ShowZipChart)
                {
                    <div id="@SharedJsConstants.ZipChartId" class="apex-chart-flex-container"></div>

                    <h3>@Resources.title_borough_requests_table</h3>
                    <div class="table-flex-container">
                        <SortableTable Items="requestsByBoroughDate" Options=@boroughDateOptions />
                    </div>
                    <h3>@Resources.title_zip_requests_table</h3>
                    <div class="table-flex-container">
                        <SortableTable Items="requestsByZipHour" Options=@zipHourOptions />
                    </div>
                }
                else
                {
                    <h3>@Resources.title_borough_requests_table</h3>
                    <div class="table-flex-container">
                        <SortableTable Items="requestsByBoroughDate" Options=@boroughDateOptions />
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<BoroughDateTableRow> requestsByBoroughDate = new List<BoroughDateTableRow>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<string> boroughs = new();
    private List<string> zipCodes = new();
    private HashSet<string> selectedBoroughs = new();
    private HashSet<string> selectedZipCodes = new();
    private ChartOptions? boroughChartOptions;
    private ChartOptions? zipChartOptions;

    private bool zipChartNeedsRefresh = false;
    private bool boroughChartNeedsRefresh = false;
    private int sortOrder = 0;

    private bool ShowBoroughChart => requestsByBoroughDate != null && requestsByBoroughDate.Count != 0 && selectedBoroughs.Any();
    private bool ShowZipChart => requestsByZipHour != null && requestsByZipHour.Count != 0 && selectedZipCodes.Any();

    private TableOptions<BoroughDateTableRow>? boroughDateOptions;
    private TableOptions<ZipHourTableRow>? zipHourOptions;

    protected override void OnInitialized()
    {
        LayoutService.SetTitle(Resources.report_page_title, Resources.title_requests);
        boroughDateOptions = GetTableOptions<BoroughDateTableRow>(r => r.Borough);
        zipHourOptions = GetTableOptions<ZipHourTableRow>(r => r.Borough);
    }


    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveSidebarButton(Resources.data_none_available, Resources.refresh_data_boroughs_list)
        );
            return;
        }

        await RefreshRequestsByZipHour();
        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        zipCodes = RequestService.ZipCodes;
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;

        // if (!boroughChartOptions.HasData)
        // {
        //     boroughChartOptions = GetBoroughChartOptions(height: "380");
        // }

        // if (!zipChartOptions.HasData)
        // {
        //     zipChartOptions = GetZipChartOptions(height: "380");
        // }

        LayoutService.SetSidebar(
            LayoutService.RenderSidebarButton(
                Resources.messaging_service_title_download,
                "sidebar-btn",
                Resources.messaging_service_save_pdf,
                SaveAsPdf)
        );

        //await LayoutService.ChangeClassName("content", "content-reports-page");

        boroughChartNeedsRefresh = ShowBoroughChart;
        zipChartNeedsRefresh = ShowZipChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (boroughChartNeedsRefresh)
        {
            boroughChartNeedsRefresh = false;
            await ChartService.RenderBarChart($"#{SharedJsConstants.BoroughChartId}", ChartService.BarChartByBorough);  // only one error displays; consider errorList
        }

        if (zipChartNeedsRefresh)
        {
            zipChartNeedsRefresh = false;
            await ChartService.RenderLineChart($"#{SharedJsConstants.ZipChartId}", ChartService.LineChartByZipHour);
        }

    }   

    protected TableOptions<T> GetTableOptions<T>(Expression<Func<T, string>>? groupBy)
    {
        var options = new TableOptions<T>
        {
            GroupBy = groupBy,
            TableStyles = "table-flex-item"
        };

        return options;
    }

    protected async Task RefreshRequestsByZipHour()
    {
        requestsByBoroughDate.Clear();
        requestsByZipHour.Clear();

        var resultBorough = RequestService.GenerateTableByBoroughDay();
        if (resultBorough.IsSuccess)
        {
            requestsByBoroughDate = RequestService.RequestsByBoroughDate;

        }
        var resultZip = RequestService.GenerateTableByZipHour();
        if (resultZip.IsSuccess)
        {
            requestsByZipHour = RequestService.RequestsByZipHour;
        }

        // if (resultBorough.IsFailure || resultZip.IsFailure) // should this access messagingService? Decide when consolidating errors
        // {
        //     _messagingService
        // }

    }

    private async Task SaveAsPdf()
    {
        var options = new PdfOptions
        {
            Margin = [10, 10, 10, 10],
            FileName = "custom.pdf",
            Image = new ImageOptions
            {
                Type = "jpeg",
                Quality = 0.98
            },
            Html2Canvas = new Html2CanvasOptions
            {
                Scale = 2
            },
            JsPDF = new JsPdfOptions
            {
                Unit = "mm",
                Format = "a4",
                Orientation = "portrait"
            },
            PageBreak = new PageBreak
            {
                Mode = ["css"],
                Avoid = ["tr", "td", "h2", "h3", "h4"]
            }
        };
        await PdfService.RenderPdfDownload("pdf-content", options);
    }

    public void Dispose()
    {
        //LayoutService.ChangeClassName("content-reports-page", "content");
    }
}